<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.jackrudelic.runawayios.realtime-background</string>
	</array>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.runawayios.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>runaway</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>strava</string>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiamFja3J1ZGVsaWMiLCJhIjoiY2x6YmJleDF0MHBibTJqcHh5dW00MXAzayJ9.gvQwL0C6knMFeB3Fol1gvQ</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>NEWS_API_KEY</key>
	<string>add95b52860948849a7c0f3ecb905f2b</string>
	<key>EVENTBRITE_API_KEY</key>
	<string>VP3G3K4S7NTQCLHP7SLV</string>
</dict>
</plist>
